body{
    background-color: #1c033c;
    text-align: center;
    user-select: none;
}

h1{
    font-size: 5rem;
    margin: 1rem;
}

#clues {
    display : none;
    width: 90%;
    margin: 0 auto;
    color: gold;
    font-weight: bold;
    font-size: 2rem;
}

.clue{
    border: 0;
    font-size: 2rem;
    border-radius: 10px;
    background-color: #330a66;
    cursor: pointer;
}

.clue, .index{
    display: inline-block;
    margin: 2%;
    height: 50px;
    width: 60px;
}